/* FIRST : avoid pre hide flicker */
.hide  {
    display:  none;
 }


/* Typography */
 h1  {
    font-size:  2.2em;
    line-height:  1;
    font-family:  "Merriweather", serif;
    font-weight:  900;
}

.h1  {
    font-size:  2.2em;
    line-height:  1;
    font-family:  "Merriweather", serif;
    font-weight:  900;
}

h2  {
    font-size:  1.4em;
    line-height:  1.4;
     font-style:  italic;
    border-top:  1px solid #D6CDCF;
    border-bottom:  1px solid #D6CDCF;
    padding:  0.6em 0 0.8em;
    color:  rgb(136,  135,  135);
    font-family:  "merriweather", serif;
    margin-bottom:  1.2em;
    font-weight:  500;
}

.h2  {
    font-size:  1.3em;
    line-height:  1.3;
     font-style:  italic;
    border-top:  1px solid #D6CDCF;
    border-bottom:  1px solid #D6CDCF;
    padding:  0.6em 0 0.8em;
    color:  rgb(136,  135,  135);
    font-family:  "merriweather", serif;
    margin-bottom:  1.2em;
}

h3  {
    font-size:  1em;
    line-height:  1.2;
    font-family:  "Lato", sans-serif;
     color:  #545D75;
    margin-bottom:  0.4em;
    letter-spacing:  2px;
    font-weight:  900;
    text-transform:  uppercase;
}

.h3  {
    font-size:  1em;
    line-height:  1.2;
    font-family:  "Lato", sans-serif;
     color:  #545D75;
    margin-bottom:  0.4em;
    letter-spacing:  2px;
    font-weight:  900;
    text-transform:  uppercase;
}

h4  {
    font-size:  0.9em;
    line-height:  1.3;
    text-transform:  uppercase;
    color:  #a1999b;
    font-weight:  700;
    letter-spacing:  2px;
}

.h4  {
    font-size:  1em;
    line-height:  1.3;
    text-transform:  uppercase;
    color:  #a1999b;
    font-weight:  700;
    letter-spacing:  2px;
}

h5  {
    font-size:  1em;
    line-height:  1.3;
    font-family:  "Merriweather", serif;
    font-weight:  400;
    color:  #9C9C9C;
}

.h5  {
    font-size:  1em;
    line-height: 1;
    font-family:  "Merriweather", serif;
    font-weight:  400;
    color:  #9C9C9C;
}

h6  {
    font-size:  0.6em;
    line-height:  1.3;
    text-transform:  uppercase;
    color:  #D1D1D1;
    font-weight:  700;
    letter-spacing:  1px;
}

blockquote  {
    line-height:  1.5;
    color:  #6f6f6f;
     font-size:  1.1em;
    font-style:  italic;
    margin:  0 0 1.25em;
    padding:  0.5625em 1.25em 0 1.1875em;
    border-left:  6px solid #E48900;
}

p  {
    font-weight:  normal;
    font-size:  13px;
    line-height:  22px;
    margin-bottom:  1.25em;
    text-rendering:  optimizeLegibility;
     font-family:  "Merriweather", serif;
    color:  #393536;
}

p.medium  {
    font-size:  14px;
    line-height:  22px;
}

p.lead  {
    font-size:  1.6em;
    line-height:  1.3;
     font-style:  italic;
    border-top:  1px solid #D6CDCF;
    border-bottom:  1px solid #D6CDCF;
    padding:  0.6em 0 0.8em;
    color:  rgb(136,  135,  135);
}

p.intro  {
    font-style: italic;
}

p a  {
    color:  #D55B17 !important;
    text-decoration: none !important;
    line-height: inherit !important;
    font-size:  1em !important;
    font-family: "merriweather", serif !important;
}

p a:hover  {
    text-decoration: underline !important;
}

.small  {
    font-size: 80%;
    font-family:  "lato";
    line-height:  1.4;
}

hr.keyline  {
    border:  solid #EEEEEE;
    border-width: 0 0 1px;
    max-width:  100%;
    margin:  1.6em auto 3em;
}

#member-details hr.keyline  {
    margin:  1em 0;
}

#member-details p  {
    margin: 0;
}

#member-details p a  {
    color:  #9C9C9C !important;
}

.call-panel  {
    border-style:  solid;
    border-width:  1px;
    border-color:  #d9d9d9;
    margin-bottom:  1.25em;
    padding:  0.7em 1em;
    background:  #FFFFFF;
}


/* Directional styling */
.left  {
    float:  left !important;
 }

.right  {
    float:  right !important;
}

.text-left  {
    text-align:  left;
}

.text-right  {
    text-align:  right;
}


/* Buttons */
.button  {
    font-family:  "lato" "Helvetica Neue",  "Helvetica",  Helvetica,  Arial,  sans-serif;
}

.button.alpha  {
    background-color:  #D55B17;
    font-weight:  900;
}

.button.alpha:hover  {
    background-color:  #c45110;
    font-weight:  900;
}

.button.beta  {
    font-size:  0.9em;
    padding:  0.3em 0.9em 0.4em;
    background-color:  #545D75;
    font-weight:  700;
}

.button.beta:hover  {
    font-size:  0.9em;
    padding:  0.3em 0.9em 0.4em;
    background-color:  #384464;
    font-weight:  700;
}

.button.beta.margin-right  {
    margin-right: 1em;
}

.button.delta  {
    background-color:  #2ba6cb;
}

.results-information button  {
}



/* Custom spacing for blocks */
.space-one-em  {
    margin-top:  1em;
    margin-bottom:  1em;
}

.space-two-em  {
    margin-top:  2em;
    margin-bottom:  2em;
}

.bottomless-hero-image  {
    width: 100%;
    height: auto;
    margin-bottom:  0;
}


#header button  {
    float: right;
}

#header .button.alpha  {
    margin-top: 0.3em;
}

#header .current-page a  {
    color: #2C2C2C !important;
}

#header .logo  {
    margin:  0.2em auto 0.5em;
}

#header .social  {
    float: right;
    margin-top:  0.5em;
}


/* Hero */
.hero-image  {
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 80px;
    
    -webkit-transition: all .30s ease 0s;
    -moz-transition: all .30s ease 0s;
    -o-transition: all .30s ease 0s;
    -ms-transition: all .30s ease 0s;
    transition: all .30s ease 0s;
}

.slideshow {
    
}
.slideshow .carousel-cell {
    width: 100%;
    height: 100%;
}

.scroll-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 50px;
    margin-left: -25px;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.85);
    z-index: 99;
    
    -webkit-transition: all .30s ease 0s;
    -moz-transition: all .30s ease 0s;
    -o-transition: all .30s ease 0s;
    -ms-transition: all .30s ease 0s;
    transition: all .30s ease 0s;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.scroll-arrow:hover {
    background-color: rgba(255, 255, 255, 1.0);
}
.scroll-section {
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background-image: url('../img/icon-arrow-down-2.png');
    background-position: center;
    background-size: 24px auto;
    background-repeat: no-repeat;
}



.bounce {
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-5px);
  }
}


.background-cover {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.background-cover img {
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
}

.flickity-prev-next-button {
    width: 48px;
    height: 48px;
    
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    
    background-color: rgba(0, 0, 0, 0.75);
    
}
.flickity-prev-next-button.previous {
    left: 30px; 
}
.flickity-prev-next-button.next {
    right: 30px;
}
.flickity-prev-next-button .arrow {
    fill: #fff; 
}

.flickity-prev-next-button:hover {
    background-color: rgba(0, 0, 0, 1.0);
}



.slideshow .banner-wrap-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    
}
.slideshow .banner-wrap-2 {
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
}
.slideshow .banner-wrap-3 {
    display: table-cell;
    vertical-align: middle;
}

.slideshow .banner_detail_box {
    position: static;
    top: auto;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: transparent;
    background-color: rgba(241, 241, 241, 0.85);
    /* 
    background-color: rgba(255, 255, 255, 0.7);
    
    border: 2px solid #fff;
    */
}

.slideshow .banner_detail_box h1 {
    font-size: 3.0em;
    color: #585858;
}
.slideshow .banner_detail_box p {
    line-height: 1.7em;
}

.slideshow .banner_detail_box .button.alpha {
    /*
    border: 1px solid #D55B17;
    background-color: transparent;
    */
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato";
    letter-spacing: 1px;
    padding: 13px 26px;
    color: #fff;
}

.hero-color  {
    width: 100%;
    height: auto;
    margin-bottom:  2em;
    background-color:  #383C49;
    height:  11.6em;
    display: none;
}

.bottomless-hero-image  {
    width: 100%;
    height: auto;
    margin-bottom:  0;
}

/* Hero information block */
.banner_detail_box {
    color:  #585858;
    background:  rgba(241,  241,  241,  0.85);
    width:  auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding:  17px 15px 18px;
}

.full-width  {
    width: auto !important;
}

.banner_detail_box button  {
    margin-top: 1em;
}

.banner_detail_box h1  {
    color:  #2C2C2C;
}

.banner_detail_box button  {
    margin-bottom:  0.5em !important;
}

.banner_detail_box p  {
    margin-top:  0.4em;
    font-family:  "Merriweather", serif;
    font-style:  italic;
    font-weight:  normal;
    line-height:  1.5;
    font-size:  1.1em;
    width:  90%;
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom:  0.3em;
}

#team-member .banner_detail_box,  #search-results .banner_detail_box  {
    margin-bottom:  2em;
}


.presentation {
    margin-top: 20px;
}

/* Styling aid for various lead-blocks */
.lead-blocks div  {
    margin-bottom:  1.6em;
}

.lead-blocks img  {
    margin-bottom:  0.8em;
    width:  100%;
    height:  auto;
}

.lead-blocks p  {
    margin-bottom:  0.8em;
}



.downloads a  {
    background:  url(../img/icon-download.png) no-repeat center right;
    background-size: 15px 16px;
    padding-right:  20px;
}

.downloads a:hover  {
    color: #D55B17;
}

.downloads .first  {
    padding-left:  0;
}

/*
#t-intro  {
    background-color: #767676;
    margin-bottom: 2em;
}

#t-intro h1  {
    padding-top: 0.5em;
}
*/
.panel p  {
    margin-bottom:  1em;
}

.panel img  {
    margin-bottom:  0.6em;
}

.panel h3  {
    margin-bottom: 1em;
}


.results-block  {
    margin-top:  1.2em;
}

.results-status p  {
    font-size:  1.4em;
    color: #D55B17;
    font-family:  "lato" "Helvetica Neue",  "Helvetica",  Helvetica,  Arial,  sans-serif;
    font-weight:  900;
}



#property-search  {
    background-color:  #383C49;
    padding:  2em 0 1em;
    margin-bottom:  2em;
}

#property-search label  {
    color:  white;
}


#read-next  {
    background-color:  #D55B17;
    padding:  2em 0 2em;
    margin-top:  3.4em;
}

#read-next h2  {
    margin-bottom:  0.5em;
}

#read-next h2, #read-next p, #read-next h4  {
    color: white !important;
}


.full-client-list  {
    margin:  2em auto;
}


#more-content  {
    background-color: #adadad;
    padding:  2em 0 0.6em;
    margin-bottom:  1.2em;
}

#more-content  {
    margin-top:  3.4em;
}

#related-content  {
    margin-bottom:  2em;
}

#related-content  {
    margin-bottom:  2em;
}



.logo-strip  {
    background-color: #f6f6f6;
    padding:  1em 0 2.4em;
}

.logo-strip h4  {
    margin-bottom:  1em;
}

.logo-strip .logos div  {
    margin-bottom:  1.875em;
}

.client-list img  {
    margin-bottom:  2em;
}



.phone-contact  {
    float: right;
    text-align: right;
    font-size:  1.5em;
    padding-top:  0.8em;
    font-weight:  bold;
    color:  #012057;
    font-family:  "lato", sans-serif;
    font-weight:  900;
    background:  url(../img/icon-phone.png) no-repeat center 
left;
    background-size: 14px 23px;
    padding-left:  23px;
    background-position-y:  100%;
}



.twitter-download  {
    margin-bottom:  0.6em;
}



.key-facts  {
    margin-bottom:  0;
    padding:  0;
}

.key-facts p  {
    margin-bottom:  0;
}

.key-facts h4  {
    font-size:  2.8em;
    font-weight:  bold;
    margin:  0;
    font-family:  "Merriweather", serif;
    font-style:  italic;
    color:  #D55B17;
}



.bordered  {
    border-top:  1px rgb(199,  199,  199) solid;
    border-bottom:  1px rgb(199,  199,  199) solid;
    padding:  0.5em 0 0.7em;
    margin-bottom: 1em;
}




.icon-link-ext  {
    float: right;
}

.panel  {
    border-style:  solid;
    border-width:  1px;
    border-color:  #d9d9d9;
    margin-bottom:  1.25em;
    padding:  1.25em;
    background: #f2f2f2;
 }

.featured-clients  {
    margin:  0 auto 2em;
}

.copyright-right  {
    text-align:  left;
}


#team-member .profile  {
    margin-bottom:  4em;
}




/* Header */

.main-logo {
    z-index: 1000;
}

/* Burger menu */
.menu-btn {
    display: none;
    position: fixed;
    width: 42px;
    height: 42px;
    top: 22px;
    right: 22px;
    padding: 15px;
    
    background-color: #D55B17;
    z-index: 1000;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.burger-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 5px;
    background-color: #fff;
    
    -webkit-transition: all .30s ease 0s;
    -moz-transition: all .30s ease 0s;
    -o-transition: all .30s ease 0s;
    -ms-transition: all .30s ease 0s;
    transition: all .30s ease 0s;
}
.menu-btn.burger-active .burger-menu {
    background-color: transparent;
}
.menu-btn.burger-active + .off-canvas-nav {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}

.burger-menu:before {
    top: -4px;
    border-top: 2px solid #fff;
}
.burger-menu:after {
    top: 4px;
    border-bottom: 2px solid #fff;
}

.menu-btn.burger-active .burger-menu:before {
    top: -4px;
    left: -2px;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    
    transform-origin: top right;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
}

.menu-btn.burger-active .burger-menu:after {
    top: 4px;
    left: -2px;
    
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
}

.burger-menu:before,
.burger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-transition: all .30s ease 0s;
    -moz-transition: all .30s ease 0s;
    -o-transition: all .30s ease 0s;
    -ms-transition: all .30s ease 0s;
    transition: all .30s ease 0s;
    
    -ms-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.btn-hover {
    box-shadow: 0 0 0 3px #D55B17;
}
.btn-hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background-color: #D55B17;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.off-canvas-nav {
    
}


.header .img-inline-list  {
    margin:  0 auto 1em auto;
    margin-left:  -1.375em;
    margin-right:  0;
    padding:  0;
    list-style:  none;
    overflow:  hidden;
    
    -webkit-transition: all .30s ease 0s;
    -moz-transition: all .30s ease 0s;
    -o-transition: all .30s ease 0s;
    -ms-transition: all .30s ease 0s;
    transition: all .30s ease 0s;
 }

.header .img-inline-list > li  {
    list-style:  none;
    float:  left;
    margin-left:  1.375em;
    display:  block;
 }

.header .img-inline-list > li > *  {
    display:  block;
 }

.header .inline-list a  {
    color: gray;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing:  2px;
    font-weight:  500;
    font-size:  16px;
}

.header .inline-list  {
    padding-top: 16px;
    
    -webkit-transition: padding-top .25s ease 0s;
    -moz-transition: padding-top .25s ease 0s;
    -o-transition: padding-top .25s ease 0s;
    -ms-transition: padding-top .25s ease 0s;
    transition: padding-top .25s ease 0s;
}

.header  {
    margin: 0;
    padding: 0;
    display:  block;
}

.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px 0 20px;
    background-color: #fff;
    z-index: 1000;
}

.logo img {    
    -webkit-transition: width .25s ease 0s, height .25s ease 0s;
    -moz-transition: width .25s ease 0s, height .25s ease 0s;
    -o-transition: width .25s ease 0s, height .25s ease 0s;
    -ms-transition: width .25s ease 0s, height .25s ease 0s;
    transition: width .25s ease 0s, height .25s ease 0s;
}
.header .row-nav {
    padding: 0;
}

.header.header-small .header-sticky {
    padding-bottom: 6px;
    
    
}

.header.header-small .inline-list {
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.header.header-small + .hero-image {
    margin-top: 60px;
}


.header .small a, #header .small  {
    font-size:  0.85em;
}

/* --- */
.row-nav  {
    width:  90%;
    margin-left:  auto;
    margin-right:  auto;
    margin-top:  0;
    margin-bottom:  0;
    max-width: 1180px;
}

#secondary-nav  {
    background:  #383C49;
    padding-top:  1.6em;
    margin-bottom:  2em;
}

#secondary-nav a  {
    text-transform:  uppercase;
    font-family:  "lato";
    letter-spacing:  2px;
}

#secondary-nav .current-page a  {
    color: white;
}



/* Pagination */
ul.pagination li.current a  {
    background:  #D55B17;
    color:  white;
    font-weight:  bold;
    cursor:  default;
 }

ul.pagination li.current a:hover,  ul.pagination li.current a:focus  {
    background:  #c45110;
 }



/* Footer */
#footer-top  {
    background-color:  #383C49;
    padding:  2em 0;
    color: white;
}

#footer-top .back-to-top  {
    border-bottom:  1px solid #a1999b;
    padding:  0.7em 0;
    margin-bottom:  1em;
}

#footer-top p  {
    color:  #DDD;
}

#footer-top h4  {
    font-size:  1em;
    line-height:  1.2;
    font-family:  "Lato", sans-serif;
     color:  #a1999b;
    margin-bottom:  0.4em;
    letter-spacing:  2px;
    font-weight:  900;
    text-transform:  uppercase;
}

#footer-top a,  #footer-top a:hover,  #footer-top p a  {
    font-family:  "Lato", sans-serif !important;
    font-size:  16px !important;
     color:  white !important;
}

#footer-top a:hover  {
    font-family: "Lato", sans-serif;
    text-decoration: underline;
}

#footer-top a  {
    color: white;
}

#footer-top ul  {
    margin-left:  0;
    font-size: 16px;
    list-style:  none !important;
}

#footer-top .button.alpha, #footer-bottom .button.alpha  {
    background-color:  red;
}

#footer-top .button.beta, #footer-bottom .button.beta  {
    background-color:  red;
}

#footer-top .button.delta, #footer-bottom .button.delta  {
    background-color:  red;
}

#footer-top .social img  {
    width:  24px;
    height:  18px;
    margin-right:  0.6em;
    margin-bottom:  1em;
}

#footer-top .social-big img  {
    width:  130px;
    height:  38px;
    margin-right:  0.6em;
    margin-bottom:  1em;
}

#member-details img  {
    width:  30px;
    height:  21px;
    margin-right:  0.4em;
}

#footer-top .div  {
    margin-bottom:  1em;
}

#footer-bottom  {
    background-color:  #272727;
    padding:  1em 0 0em;
}

#footer-bottom .bottom-links p.small  {
    color:  #a1999b;
}




#news h2  {
    font-size:  2em;
    line-height:  1;
    border:  none;
    font-style:  normal;
    color:  rgb(136,  135,  135);
    margin-bottom:  0;
    padding:  0 0 0.3em;
    font-weight:  500;
}

#news article  {
    margin:  0 0 3em;
}

#news article img  {
    margin-bottom:  0.4em;
}

#news .borderless-hero-image article  {
    margin-bottom:  0 !important;
}
#news #footer-top  {
    margin-top:  1em;
}



/*
////////////
PROPOSAL
////////////
*/

.proposal .presentation {
    margin-top: 60px;
    margin-bottom: 60px;
}

.proposal .presentation h4{
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 2.4em;
    font-family: Lato;
    text-transform: uppercase;
    color: #545D75;
    font-weight: 900;
    text-align: center;
    letter-spacing: inherit;
}
.proposal .content--title {
    max-width: 720px;
    margin: 0 auto;
}

.proposal .content--title h2 {
    text-align: center;
    border-bottom: 0;
    border-top: 0;
}
.proposal .content--title hr {
    width: 100px;
    margin: 0 auto;
}

.proposal .content--text{
    padding-top: 15px;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
}


.offices-available {
    position: relative;
    height: 700px;
    overflow: hidden;
    background-image: url('http://www.tuckerman.co.uk/media/85314/pic-3.png?mode=max&amp;width=1900&amp;height=1200&amp;rnd=130970648550000000');
    background-color: rgba(56, 60, 73, 0.2);
}
.offices-available .overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 60, 73, 0.74);
}
.offices-available .row {
    position: relative;
    margin-top: 60px;
    z-index: 999;
}
.offices-available .row h4 {
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.4em;
    font-family: Lato;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.row--office {
    margin-top: 30px;
    margin-right: 5%;
    float: left;
    width: 30%;
    background-color: white;
    padding: 20px;
}
.row--office:last-of-type {
    margin-right: 0;
}
.row--office div {
    margin-top: 20px;
}
.row--office h3 {
    margin: 0;
    padding: 0;
}
.row--office p {
    line-height: 1.3em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.row--services {
    padding: 90px 0 60px 0;
    max-width: 900px;
}
.row--service {
    float: left;
    width: 48%;
    margin-right: 2%;
    text-align: center;
}
.row--service h3 {
    font-size: 1.3em;
    color: #D55B17;
}

.row--service h2 {
    font-size: 1.15em;
    text-align: center;
    max-width: 920px;
    border-bottom: 0;
    border-top: 0;
    margin: 0 auto;
    margin-bottom: 0;
    line-height: 1.7em;
    color: #a1999b;
}
.row--service p {
    text-transform: uppercase;
    font-family: 'Lato';
}
.row--service p a {
    font-family: 'Lato' !important;
    font-weight: 700;
    margin-top: 30px;
    display: inline-block;
}

.presentation .more-sections {
    padding: 30px;
    border-right: 1px solid #f1f1f1;
    text-align: center;
}

a.radius.button.beta {
    text-transform: uppercase;
    margin-bottom: 0;
    border-radius: 3px;
    margin-right: 0.9375em;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Lato';
    padding: 13px 26px;
}
.presentation .more-sections a.radius.button.beta {
    padding: 13px 26px;
    color: #545D75;
    border: 1px solid #545D75;
    background-color: transparent;
}
.presentation .more-sections a h3 {
    padding: 0;
    margin-top: 15px;
}

.presentation .more-sections p {
    text-align: center;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.featured-clients {
    padding: 30px 0 45px 0;
}
.featured-clients .columns h4 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 2.4em;
    font-family: Lato;
    text-transform: none;
    font-weight: 700;
}
.featured-clients .radius.button.beta {
    float: right;
    margin-top: 30px;
}

.get-in-touch {
    background: #fff;
    padding: 60px 0;
}
.get-in-touch h4 {
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 2.4em;
    font-family: Lato;
    text-transform: uppercase;
    color: #545D75;
    font-weight: 900;
    text-align: center;
    letter-spacing: inherit;
}
.get-in-touch h2 {
    text-align: center;
    max-width: 920px;
    border-bottom: 0;
    border-top: 0;
    margin: 0 auto;
    margin-bottom: 0;
}
.get-in-touch-cta {
    margin: 45px auto 0 auto;
    text-align: center;
}

/*small */
/*
@media only screen  {
    
.banner_detail_box {
    color:  #585858;
    background:  rgba(241,  241,  241,  0.96);
    width:  auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding:  17px 15px 18px;
}

}
*/

/*small ONLY targeting*/
@media only screen and (min-width:0px) and (max-width:641px)
 {
    
.results-block .lead-blocks div  {
    margin-bottom:  0;
}

.button.alpha.mobile  {
    width: 100% !important;
}
 .index-mobile  {
    width:  100% !important;
}

}


/*medium UP*/
@media only screen and (min-width: 40.063em)  {
    
.banner_detail_box {
    width:  auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom:  0;
}

h1  {
    font-size:  2.4em;
}

p  {
    font-size:  17px;
    line-height:  28px;
}

h2  {
    font-size:  1.5em;
}

.property-block  {
    height:  240px;
}

.lead-blocks div  {
    margin-bottom:  3.2em;
}

blockquote  {
    line-height:  1.6;
    font-size:  1.4em;
}

h6  {
    font-size:  0.8em;
    line-height:  1.3;
}


}


/*large UP*/
@media only screen and (min-width: 1020px)  {
    
.banner_detail_box {
    position: absolute;
    width:  36%;
    top:  9em;
    padding:  22px 28px 28px;
    text-align: left;
    left:  7em;
}

#property-search .button  {
    margin-top:  1.34em;
}

.twitter  {
    float:  right !important;
}

.twitter a  {
    background:  url(../img/icon-twitter.png) no-repeat center left;
    background-size: 14px 11px;
    padding-left:  18px;
}

.banner_detail_box p  {
    width:  100%;
    margin-left:  auto;
    margin-right:  auto;
}

.row-nav  {
    width:  96% !important;
    margin-left:  auto;
     margin-right:  auto;
    margin-top:  0;
    margin-bottom:  0;
}

  {
}

.button.alpha.mobile  {
    width: 100% !important;
}
.logo-strip .logos div  {
    margin-bottom:  0;
}

.copyright-right  {
    text-align:  right;
}

.hero-color  {
    display: block;
}

#team-member .banner_detail_box  {
    margin-bottom:  0;
}

.property-block  {
    margin-bottom:  2em;
}

}

@media all and (min-width: 1025px) {
    .logo img {
        width: 218px;
        height: 50px;
    }
    
    .header.header-small .logo img {
        height: 32px;
        width: 140px; 
    }
}

@media all and (max-width: 1024px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .header-sticky {
        padding-top: 0;
    }
    .header .row-nav {
        width: 100%;
        padding: 15px 20px;
        /*height: 90px;*/
        background-color: #fff;
        z-index: 1000;
    }
    
    .scroll-arrow {
        display: none;
    }
    
    
    .menu-btn {
        display: block;
        top: 15px;
    }
    
    .vertically-centered {
        display: table;
        width: 100%;
        height: 100%;
        /*margin-top: -60px;*/
    }
    .vertical-container {
        display: table-cell;
        vertical-align: middle;
    }
    
    .off-canvas-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background: rgba(255, 255, 255, 0.95);
        
        transform: translate(100%, 0);
        -webkit-transform: translate(100%, 0);
        -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        
        -webkit-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
        transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .off-canvas-nav .inline-list {
        float: none;
        margin: 0;
        padding: 0;
    }
    .off-canvas-nav .inline-list li {
        float: none;
        margin: 0 0 20px 0;
    }
    .off-canvas-nav .inline-list li a{
        display: block;
        text-align: center;
        font-size: 2.0em;
        font-weight: 900;
        
        -webkit-transition: all .30s ease 0s;
        -moz-transition: all .30s ease 0s;
        -o-transition: all .30s ease 0s;
        -ms-transition: all .30s ease 0s;
        transition: all .30s ease 0s;
    }
    .off-canvas-nav .inline-list li:last-child,
    .off-canvas-nav .inline-list li:last-child a{
        margin-bottom: 0;
    }
    
    .off-canvas-nav .inline-list li a:hover{
        color: #2C2C2C;   
    }
    .hero-image {
        height: auto;
    }
    .slideshow .banner_detail_box {
        width: auto;   
    }
    .slideshow .banner-wrap-1 {
        position: static;
        width: auto;
        height: auto;
    }
    .slideshow .carousel-cell {
        width: auto;
        height: auto;
    }
    .background-cover {
        height: auto;
        overflow: auto;
    }
    .background-cover img {
        position: static;
        width: 100%;
        height: auto;
        min-height: 0;
    }
    
    .presentation .more-sections:nth-of-type(2),
    .presentation .more-sections:nth-of-type(3){
        border-right: 1px solid transparent;
    }
    
}

@media all and (max-width: 768px) {
    .header-sticky {
        padding-left: 0;
        padding-right: 0;
    }
    .header .row-nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-logo {
        padding-left: 0;
        width: 109px;
    }
    .menu-btn {
        top: 13px;
        right: 15px;
        width: 36px;
        height: 36px;
        padding: 12px;
    }
    .hero-image {
        margin-top: 64px;
    }
    
    .flickity-prev-next-button.previous {
        left: 20px;
    }
    .flickity-prev-next-button.next {
        right: 20px;
    }
    
    .slideshow .banner_detail_box h1 {
        font-size: 2.0em;
    }
    
    .off-canvas-nav .inline-list li a {
        font-size: 1.2em;
    }
    .offices-available {
        height: auto;
    }
    
    .row--office {
        float: none;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .row--office:last-of-type {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    .row--service {
        width: 100%;
        float: none;
        margin-bottom: 60px;
    }
    .row--service:last-of-type {
        margin-bottom: 0;
    }
    .row--service p a {
        margin-top: 0;
    }
    
    .proposal .row--services {
        padding-bottom: 0;    
    }
    .presentation .large-4.columns.more-sections {
        width: 100%;
    }
    .presentation .more-sections p{
        height: auto;
    }
    
    .featured-clients .columns h4{
        line-height: 1.1em;
    }
    
    .proposal .presentation h4,
    .offices-available .row h4,
    .featured-clients .columns h4,
    .get-in-touch h4{
        font-size: 1.5em;
    }
    .proposal .content--title h2,
    .get-in-touch h2{
        font-size: 1.15em;
    }
}
@media all and (max-width: 480px) {
    .logo-strip .logos div {
        float: none;
        width: 100%;
        text-align: center;
    }
    .featured-clients .radius.button.beta {
        float: none;
    }
    .row--office {
        width: 95%;
    }
}