.column, 
.columns  {
    
  position:  relative;
    
  padding-left:  0.9375em;
    
  padding-right:  0.9375em;
    
  float:  left;
 }

  
  .row  {
    min-width: 920px;
     max-width: 960px;
    width: 100%;
}

  
  .large-1  {
    
    position:  relative;
    
    width:  8.33333%;
 }


  .large-2  {
    
    position:  relative;
    
    width:  16.66667%;
 }


  .large-3  {
    
    position:  relative;
    
    width:  25%;
 }


  .large-4  {
    
    position:  relative;
    
    width:  33.33333%;
 }


  .large-5  {
    
    position:  relative;
    
    width:  41.66667%;
 }


  .large-6  {
    
    position:  relative;
    
    width:  50%;
 }


  .large-7  {
    
    position:  relative;
    
    width:  58.33333%;
 }


  .large-8  {
    
    position:  relative;
    
    width:  66.66667%;
 }


  .large-9  {
    
    position:  relative;
    
    width:  75%;
 }


  .large-10  {
    
    position:  relative;
    
    width:  83.33333%;
 }


  .large-11  {
    
    position:  relative;
    
    width:  91.66667%;
 }


  .large-12  {
    
    position:  relative;
    
    width:  100%;
 }



#property-search .button  {
    margin-top:  1.34em;
}

.twitter  {
    float:  right !important;
}

.twitter a  {
    background:  url(../img/icon-twitter.png) no-repeat center left;
    background-size: 14px 11px;
    padding-left:  18px;
}

.banner_detail_box p  {
    width:  100%;
    margin-left:  auto;
    margin-right:  auto;
}

.row-nav  {
    width:  96% !important;
    margin-left:  auto;
     margin-right:  auto;
    margin-top:  0;
    margin-bottom:  0;
}

.key-facts  {
    padding:  0 0 0 1rem;
}

.button.alpha.mobile  {
    width: 100% !important;
}
.logo-strip .logos div  {
    margin-bottom:  0;
}

.copyright-right  {
    text-align:  right;
}

.hero-color  {
    display: block;
}

#team-member .banner_detail_box  {
    margin-bottom:  0;
}

.property-block  {
    margin-bottom:  2em;
}

.banner_detail_box {
    background-color: #F1F1F1;
    position: absolute;
    width:  36%;
    top:  160px;
    padding:  22px 28px 28px;
    text-align: left;
    left:  7em;
}

.inline-list>li  {
    margin-left:  20px;
}

.button  {
    padding:  12px;
}


h1, h2, h5, h6  {
    font-family:  times;
}

body, a, h3, h4  {
    font: arial;
}

.downloads a  {
    background: none;
}

.inline-list  {
    0 auto;
}

.hide-for-medium-down  {
    display: block !important;
}
